
<div class="bg"></div>
<section id="form-outside">
    <div id="form">
        <h1>Admin Dashboard</h1>
        <br>
        <br>
        <h2>Welcome {{user.firstName}} {{user.lastName}}</h2>
        <br>
        <br>
        <br>
        <div id="divButton">
            <a href="/login" id="findButton">Logout</a>
        </div>
        <br>
        <br>
    </div>
</section>