<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="img/Banff.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Banff</h5>
      <p class="card-text">A beautifull town located in Alberta full of mountians and forest views.</p>
      <p class="card-text"><small class="text-muted">Banff, Ontario, Canada</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/ottawa.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ottawa</h5>
      <p class="card-text">Canada's capital, endless adventures to discover.</p>
      <p class="card-text"><small class="text-muted">Ottawa, Ontario, Canada</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/B.C.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">British Columbia</h5>
      <p class="card-text">Come experience north wild, forests rich with wildlife.</p>
      <p class="card-text"><small class="text-muted">B.C, Canada</small></p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="img/novaScotia2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nova Scotia</h5>
      <p class="card-text">A beautifull water front provience of Canada.</p>
      <p class="card-text"><small class="text-muted">Nova Scotia, Canada</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/nunavut.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nunavut</h5>
      <p class="card-text">Canada's frozen tundra, experience the northern lights like never before.</p>
      <p class="card-text"><small class="text-muted">Nunavut, Canada</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="img/Toronto.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Toronto</h5>
      <p class="card-text">True north strong, Toronto is a city filled with night life.</p>
      <p class="card-text"><small class="text-muted">Toronto, Ontario, Canada</small></p>
    </div>
  </div>
</div>



