   <table>
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>
                <td>
                    <input type="text" id="email" name="email"> <br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="passWord">PassWord</label>
                </td>
                <td>
                    <input type="text" id="passWord" name="passWord"> <br>
                </td>
            </tr>
              <tr>
                <td>
            <input type="submit" value="registration">
                </td>
            </tr>
        </table>